.container {
  //   background-image: url(../../public/images/goals.PNG);
  height: 100vh;
  background-color: aquamarine;
  //   background-repeat: no-repeat;
  //   background-size: contain;
  //   background-position: center;
  padding: 30px;
}
